* {
    box-sizing: border-box;
}

header {
    background-color: blue;
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    border-bottom: 10px solid darkblue;
    color: whitesmoke;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.description {
    text-transform: capitalize;
}

.col-sm {
    border: 0.25em solid whitesmoke;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
    background-color: darkblue;
    color: whitesmoke;
}

.current-weather {
    border: 0.25em solid darkblue;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
    background-color: lightblue;
    color: darkblue;
}

.fiveDayForecast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
